{% include './includes/head.njk' %}

<style>
    form {
        display: inline-block;
    }
</style>
<br>
<div class="row">
    <div class="column">
        <h2 class="fw-bold mb-2 text-uppercase">Users</h2>
        {% for user in users %}
        <div class="entry">
            <form action="/mod/{{user.id}}" method="post">
                {{user.username}}
                <input type="submit" value="Mod">
            </form>
            <form action="/ban/{{user.id}}" method="post">
                <input type="submit" value="Ban">
            </form>
        </div>
        <br>
        {% endfor %}
    </div>
    <div class="column">
        <h2 class="fw-bold mb-2 text-uppercase">Admin Users</h2>
        {% for adminuser in adminusers%}
        <div class="entry">
            <form action="/unmod/{{adminuser.id}}" method="post">
                {{adminuser.username}}
                <input type="submit" value="Unmod">
            </form>
            <form action="/ban/{{adminuser.id}}" method="post">
                <input type="submit" value="Ban">
            </form>
        </div>
        <br>
        {% endfor %}
    </div>
    <div class="column">
        <h2 class="fw-bold mb-2 text-uppercase">Banned Users</h2>
        {% for banneduser in bannedusers%}
            <div class="entry">
            <form action="/unban/{{banneduser.id}}" method="post">
                {{banneduser.username}}
                <input type="submit" value="Unban">
            </form>
        </div>
        <br>
        {% endfor %}
    </div>
</div>
