{% include './includes/head.njk' %}

<style>
    form { display: inline-block; }
</style>

<div class="row">
    <div class="column">
        <h1><b><u>Users</b></u></h1>
        {% for user in users %}
        <div class="entry">
            <form action="/mod/{{user.id}}" method="post">
                {{user.username}}
                <input type="submit" value="Mod">
            </form>
            <form action="/ban/{{user.id}}" method="post">
                <input type="submit" value="Ban">
            </form>
            <br><br>
        </div>
        {% endfor %}
    </div>
    <div class="column">
        <h1><b><u>Admin Users</b></u></h1>
        {% for adminuser in adminusers%}
        <div class="entry">
            <form action="/unmod/{{adminuser.id}}" method="post">
                {{adminuser.username}}
                <input type="submit" value="Unmod">
            </form>
            <form action="/ban/{{adminuser.id}}" method="post">
                <input type="submit" value="Ban">
            </form>
            <br><br>
        </div>
        {% endfor %}
    </div>
    <div class="column">
        <h1><b><u>Banned Users</b></u></h1>
        {% for banneduser in bannedusers%}
            <div class="entry">
            <form action="/unban/{{banneduser.id}}" method="post">
                {{banneduser.username}}
                <input type="submit" value="Unban">
            </form>
            <br><br>
        </div>
        {% endfor %}
    </div>
</div>