{% include './includes/head.njk' %}



{% for post in posts %}
    <div class='post'>
        <a href="/view/{{post.id}}"> <div>{{post.title}}</div></a>
        <form action = "/approval" method="POST">
            <button name = "ar" value = "Approve Recipe">Approve Recipe</button>  
            <button name = "rr" value = "Remove Recipe">Remove Recipe</button>
        </form>
{% endfor %}
