{% include './includes/head.njk' %}

<div class='recipe'>
    <img src="../../../image/{{post.image}}" alt="" style="width:300px;height:400px;">
    <div>{{post.title}}</div><br><Br>
    <div>Ingredients:<br><Br>{{post.ingredients}}</div><br><Br>
    <div>Instructions:<br><Br>{{post.instructions}}</div><br><Br>
</div>
