{% include './includes/head.njk' %}

<style>
    form { 
        display: inline-block; 
        }
    a {
        font-size: 25px;
    }
</style>
<br>
<center>
    <div class='columnApproval'>
        <h2 class="fw-bold mb-2 text-uppercase">Posts to be approved</h2>
        {% for post in posts %}
            <div class="entry">
                <a href="/approvalview/{{post.id}}/{{post.type}}/{{post.checked}}"> {{post.title}}</a>
            </div>
            <br>
        {% endfor %}
    </div>

    <div class='columnApproval'>
        <h2 class="fw-bold mb-2 text-uppercase">All Posts</h2>
        {% for post in posts1 %}
            <div class="entry">
                <a href="/approvalposts/{{post.id}}/{{post.type}}/{{post.checked}}">
                <h4 >{{post.title}}</h4></a>
            </div>
            <br>

        {% endfor %}
        {% for post in posts2 %}
            <div class="entry">
                <a href="/approvalposts/{{post.id}}/{{post.type}}/{{post.checked}}">
                <h4>{{post.title}}</h4></a>
            </div>
            <br>

        {% endfor %}
          {% for post in posts3 %}
            <div class="entry">
                <a href="/approvalposts/{{post.id}}/{{post.type}}/{{post.checked}}">
                <h4>{{post.title}}</h4></a>
            </div>
            <br>
            
        {% endfor %}
    </div>
</center>