{% include './includes/head.njk' %}

<br><br>
<center>
<div class='postRecipeDiv'>
    <div class='postRecipe'>
        <center>
        <img src="../../../../image/{{post.image}}" alt="" style="text-align:center;width:300px;height:200px;">
        </center>
        <div><h2 style="text-align:center;" class="fw-bold mb-2 text-uppercase">{{post.title}}</h2></div><Br>
        <div><h4 class="mb-0 text-uppercase">Ingredients:</h4><br>{{post.ingredients}}</div><Br><Br>
        <div><h4 class="mb-0 text-uppercase">Instructions:</h4><br>{{post.instructions}}</div>
    </div>
</div>

</center>

