{% include './includes/head.njk' %}

<style>
    form { display: inline; }
</style>
<center><h1><b><u>Needs to be Approved or Rejected</b></u></h1></center>
{% for post in posts %}
    
    <center><div class='post'>
        <form action = "/approval/{{post.id}}" method ="POST">
            <a href="/view/{{post.id}}/{{post.type}}/{{post.checked}}"> {{post.title}}</a>
            <input type = "submit" value = "Approve"> </input>
        </form> 
        <form action = "/remove/{{post.title}}" method ="POST">
            <input type = "submit" value = "Remove"> </input>
        </form> 
        <br></br>   
    </div></center>
{% endfor %}

