{% include './includes/head.njk' %}


{% for post in posts %}
<div class='postcolumn'>
    <p><a href="/view/{{post.id}}/{{post.type}}/{{post.checked}}">
    <img src="../../../image/{{post.image}}" alt="" style="width:300px;height:200px; object-fit: cover;">
    <p>{{post.title}}</p></a></p><br><Br>
</div>
{% endfor %}