<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Recipe Website</title>
<link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
<style>
#admin {
  visibility: hidden;
}

#signout {
  visibility: hidden;
  display: none;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.right {
    float: right;
    margin-right: 10px;
}
</style>




<div class="topnav">
  <a class="active" href="/">Home</a>
  <a id="breakfast" href="/views/breakfast">Breakfast</a>
  <a id="lunch" href="/views/lunch">Lunch</a>
  <a id="supper" href="/views/supper">Supper</a>
  <a id = "approve" href="/approval">Approval</a>
  <div class="topnavRight">
    <a id="admin" href="/admin">Admin</a>
    <a href="/postPage">Add Recipe</a>
    <a href="/login">Login</a>
    <a id="signout" href="/signout" onclick="alert('Signout Successful')">Signout</a>
    <a href="/signup">Signup</a>
  </div>
  <center>
    <div class="dropdown">
      <div class="dropdown-content"></div>
      <div class="center">
        <form action="/search" method="POST">
          <input type="radio" id="byTitle" value='title' name="searchAlgorithm">
          <label for="byTitle">Title</label></input>
          <input type="radio" id="byIngredient" value='ingredients' name="searchAlgorithm">
          <label for="byIngredients">Ingredients</label></input>
          <input type="text" placeholder="Search" name="searchTerms"/>
          <input type="submit"/>
        </form>
      </div>
    </div>
  <center>
</div>

<body onload="incorrect()">

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">Please enter your email and password!</p>

              <body onload="incorect()">
              </body>
              <!-- Need to add functionality to check database-->
              <form action="/login" method="POST">
                <div class="form-outline form-white mb-4">
                  <input type="email" id="typeEmailX" class="form-control form-control-lg" placeholder="Email" name="userEmail"/>
                  <label class="form-label" for="typeEmailX"></label>
                </div>

                <div class="form-outline form-white mb-4">
                  <input type="password" id="typePasswordX" class="form-control form-control-lg" placeholder="Password" name="userPass"/>
                  <label class="form-label" for="typePasswordX"></label>
                </div>

                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="/forgotpassword">Forgot password?</a></p>

                <button class="btn btn-outline-light btn-lg px-5" type="submit" >Login</button>
              </form>
            </div>

            <div>
              <p class="mb-0">Don't have an account? <a href="/signup" class="text-white-50 fw-bold">Sign Up</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
    function incorrect() {
      alert('Incorrect login credentials');

    }
</script>