{% include './includes/head.njk' %}
<div class = 'form-floating mb-3'>
</div>

    
</div>
{% for post in posts1 %}
<div class='post'>
    <p><a href="/view/{{post.id}}/{{post.type}}/{{post.checked}}"> {{post.title}}</a></p><br><Br>
</div>
{% endfor %}
{% for post in posts2 %}
<div class='post'>
    <p><a href="/view/{{post.id}}/{{post.type}}/{{post.checked}}">{{post.title}}</a></p><br><Br>
</div>
{% endfor %}
{% for post in posts3 %}
<div class='post'>
    <p><a href="/view/{{post.id}}/{{post.type}}/{{post.checked}}"> {{post.title}}</a></p><br><Br>
</div>
{% endfor %}
