{% include './includes/head.njk' %}

<div class='postRecipe'>
    <div>Post Recipe</div>

    <form action="/postPage" method="POST">
        <div>
            <input placeholder="Recipe Title" name="recipeTitle"></input><br></br>
            <input placeholder="Recipe Ingredients" name="recipeIngredients"></input><br></br>
            <input placeholder="Recipe Instructions" name="recipeInstructions"></input><br></br>
            <input type="radio" id="breakfastFood" value='breakfast' name="database">
            <label for="breakfastFood">BreakFast</label></input>
            <input type="radio" id="lunchFood" value='lunch' name="database">
            <label for="lunchFood">Lunch</label></input>
            <input type="radio" id="supperFood" value='supper' name="database">
            <label for="supperFood">Supper</label></input><br></br>
            <input type="submit"/>
        </div>
    </form>
</div>