{% include './includes/head.njk' %}

<div class='postRecipe'>
    <h1><b><u>Post Recipe</u></b></h1>

    <form name="myForm" action="/postPage" method="POST" onsubmit= "return validate()" enctype="multipart/form-data">
        <div>
            <input placeholder="Recipe Title" name="recipeTitle" id="rt" required></input><br></br>
            <input placeholder="Recipe Ingredients" name="recipeIngredients" id="ring" required></input><br></br>
            <textarea placeholder="Recipe Instructions" name="recipeInstructions" id="rins" required></textarea><br></br>
            <h4><b><u>Upload Image</u></b></h4>
            <input type="file" name="file" id="file" required>
            <label for="file" class="custom-file-label"></label><br></br>
            <input type="radio" id="breakfastFood" value='breakfast' name="database" id="break" required>
            <label for="breakfastFood">BreakFast</label></input>
            <input type="radio" id="lunchFood" value='lunch' name="database" id="lunch" required>
            <label for="lunchFood">Lunch</label></input>
            <input type="radio" id="supperFood" value='supper' name="database" id="supper" required>
            <label for="supperFood">Supper</label></input><br></br>
            <input type="submit">
        </div>
    </form>
</div>

<script>

    function validate() {
       alert("Recipe Posted");
    }
</script>