{% include './includes/head.njk' %}

  <div class='left'>
    <img src="../../../image/{{post.image}}" alt="" style="width:300px;height:400px;">
    <div>{{post.title}}</div><br><Br>
    <div>Ingredients:<br><Br>{{post.ingredients}}</div><br><Br>
    <div>Instructions:<br><Br>{{post.instructions}}</div><br><Br>
</div>


<div class="right">
    <div class='comment'>
        <div>Comments</div>
        <form action="/view/{{post.id}}/{{post.type}}/{{post.checked}}" onsubmit="return loginValidate()" method="POST">
            <div>
                <textarea placeholder="Add a Comment" name="userComment"></textarea><br>
                <input type="submit"/>
            </div>
        </form>
        
        {% for comment in comments %}
        <div class='comment'>
            Commented By: <u>{{comment.user}}</u> 
            <p class="commentBorder">{{comment.commentBody}}</p>
        </div>

        {% endfor %}
    </div>
</div>

<script>
    function loginValidate() {
        if(admin == '') {
            alert('Sign in to access this feature!')
            return false;
        }
        else return true;
    }
</script>