{% include './includes/head.njk' %}

{# <div class='left'> #}
<br>
<center>
<h5 class="fw-bold mb-2">Recipe by: <u>{{post.user}}</u></h5>
<div class='postRecipeDiv'>
    <div class='postRecipe'>
        <center>
        <img src="../../../../image/{{post.image}}" alt="" style="text-align:center;width:300px;height:200px;object-fit: cover;">
        </center>
        <div><h2 style="text-align:center;" class="fw-bold mb-2 text-uppercase">{{post.title}}</h2></div><Br>
        <div><h4 class="mb-0 text-uppercase">Ingredients:</h4><br>{{post.ingredients}}</div><Br><Br>
        <div><h4 class="mb-0 text-uppercase">Instructions:</h4><br>{{post.instructions}}</div>
    </div>
</div>

</center>
<br>
<div class="card bg-dark text-white" style="border-radius: 1rem;">
<div class="card-body p-5 text-center">
<div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">
        <div class="fw-bold mb-2 text-uppercase">Comments</div>
            <form action="/view/{{post.id}}/{{post.type}}/{{post.checked}}" onsubmit="return loginValidate()" method="POST">
                <div class="form-outline form-white mb-4">
                    <textarea placeholder="Add a Comment" name="userComment" rows="4" cols="58" class="form-control form-control-lg"></textarea><br>
                    <input type="submit"/>
                </div>
            </form>
        
        {% for comment in comments %}
            <div class='comment'>
                <u>{{comment.user}}</u> 
                <p class="comment">{{comment.commentBody}}</p>
            </div>
        {% endfor %}

    </div>
</div>
</div>
</div>

<script>
    function loginValidate() {
        if({{admin}} == null) {
            alert('Sign in to access this feature!')
            return false;
        }
        else return true;
    }
</script>