{% include './includes/head.njk' %}



<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
    <div class="right">
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
    </div>
</div>