{% include './includes/head.njk' %}
<br>
<center>
<div class='postRecipeDiv'>
    <div class='postRecipe'>
        <h3 style="text-align:center;"class="fw-bold mb-2">No Matching Recipe!</h3>
    </div>
</div>
</center>