{% include './includes/head.njk' %}

{{searchTerm}}
{% for post in posts1 %}
<div class='post'>
    <a href="/view/{{post.id}}/{{post.type}}/{{post.checked}}"> <div>{{post.title}}</div></a><br><Br>
</div>
{% endfor %}
{% for post in posts2 %}
<div class='post'>
    <a href="/view/{{post.id}}/{{post.type}}/{{post.checked}}"> <div>{{post.title}}</div></a><br><Br>
</div>
{% endfor %}
{% for post in posts3 %}
<div class='post'>
    <a href="/view/{{post.id}}/{{post.type}}/{{post.checked}}"> <div>{{post.title}}</div></a><br><Br>
</div>
{% endfor %}