{% include './includes/head.njk' %}

{% for post in posts %}
<div class='post'>
    <a href="/view/{{post.id}}/{{post.type}}/{{post.checked}}"> <div>{{post.title}}</div></a><br><Br>
</div>
{% endfor %}